.maps
    margin-bottom: 45px
    &-container
        padding-top: 164px
        position: relative
        margin-top: 0
        margin-bottom: 0
    &-title
        display: block
        padding: 2px 346px 77px 346px
        width: 80%
        max-width: 1090px
        text-align: center
        background: rgba(164, 132, 110, 0.1)
        position: absolute
        left: 50%
        transform: translateX(-50%)
        top: 60px
        z-index: 0
        font-weight: bold
        font-size: 32px
        line-height: 41px
        color: $primary
    &-wrapper
        display: flex
        justify-content: space-between
        position: relative
        z-index: 5
        margin-bottom: 0
    &-card
        width: 33%
        max-width: 484px
        height: 200px
        background-color: tomato
